//* testing for accessability *//

// :root {
//   font-size: 16px;
//   font-size: 32px;
//   font-size: 40px;
// }

//* ------------------------*//

///** reset **///
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  height: 100%;
}

body * {
  line-height: calc(2px + 2.6ex + 2px);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.26rem;
}
h3 {
  font-size: 1.12rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
///*  end reset  *///

html,
body {
  overscroll-behavior: none;
}

body {
  background-color: #c4d9ff;
}

/// *** *** *** *** *** *** ///
///         Header
/// *** *** *** ***  ***  ///
.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px;
}

#header__pie-2-me-logo {
  z-index: 5;
  grid-area: 1/1/-1/-1;
  justify-self: center;
  margin-top: 8px;
}

#header__top-layer {
  grid-area: 1/1/-1/-1;
  z-index: 4;
  min-width: 100%;
  width: 100%;
}

#header__middle-layer {
  grid-area: 1/1/-1/-1;
  z-index: 3;
  width: 99%;
  justify-self: center;
}
#header__bottom-layer {
  grid-area: 1/1/-1/-1;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
  z-index: 2;
  min-width: 100%;
  width: 100%;
}

/// *** *** *** *** *** *** ///
/// lrg screen svg  nav background
/// *** *** *** ***  ***  ///

#header__nav-bar-background-lrg-screens {
  grid-area: 1/1/-1/-1;
  z-index: -5;
  width: 100vw;
  height: 170px;
  clip-path: url(#header__nav-bar-background-lrg-screens-clip-path);
}

#header__nav-bar-background-lrg-screens-clip-path {
  height: 70px; //create space between content and header//
}

/// *** *** *** *** *** *** ///
///      nav buttons
/// *** *** *** ***  ***  ///

#nav__bg-screen-top-nav-wrapper {
  position: absolute;
  top: 100px;
  z-index: 99;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: baseline;
  gap: 15vw;
}

.btn-grid {
  display: grid;
  grid-template-areas:
    "button-icon"
    "button-text";
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: none;
  font-family: sans-serif;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  text-shadow: 0px 0px 1.1px #ffffff;

  cursor: pointer;
  text-align: center;
  img {
    grid-area: "button-icon";
    // outline: auto;
  }
  span {
    grid-area: "button-text";
    // outline:auto;
  }
}


/// *** *** *** *** *** *** ///
///         Content
/// *** *** *** ***  ***  ///
#content {
  max-width: 1500px;
  margin-inline: auto;
}
.menuCard-grid {
  display: grid;
  grid-template-columns: calc(100vw - 2rem);
  justify-content: center;
  gap: 1rem;
  @media (min-width: 501px) {
    .menuCard {
      max-width: 700px;
    }
  }
  @media (min-width: 907px) {
    gap: 1rem 2rem;
    grid-template-columns: 1fr 1fr;
    margin-inline: 1.5rem;
  }
}

/// *** *** *** *** *** *** ///
///         H1's
/// *** *** *** ***  ***  ///
h1 {
  width: min-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e1ecff;
  margin-bottom: 6px;
  margin-left: 1rem;
  font-family: "Kiwi Maru";
  font-style: normal;
  font-weight: 500;
}

#favorites {
  position: relative;
  top: -0.5rem;
  @media (max-width: 610px) {
    #favorites {
      top: -0.5rem;
    }
  }
}

/// *** *** *** *** *** *** ///
///         Menu Card
/// *** *** *** ***  ***  ///
.menuCard {
  display: grid;
  gap: 1rem;
  max-width: 590px;
  margin-left: 1.15rem;
  margin-bottom: 1.5rem;
  @media (max-width: 500px) {
    margin-left: 0;
  }
}

///* card picture container layout *///
.menuCard--picture-frame {
  display: grid;
  grid-area: 1/1/-1/2;
  background: rgba(25, 25, 25, 0.25);
  place-content: center;
  @media (max-width: 500px) {
    grid-area: 1/1/2/2;
    margin: 0;
  }
}

.menuCard--picture {
  grid-area: 1/1/-1/2;
  height: 195px;
  width: 160px;
  background: #d9d9d9;
  box-shadow: 0px 0px 0px 5px #e1ecff; //stroke around picture
  border-radius: 16px;
  transform: matrix(1, -0.08, 0.12, 0.95, 0, 0);
  background-size: cover;
  @media (max-width: 500px) {
    grid-area: 1/1/2/2;
    width: 70vw;
    height: 240px;
  }
}

/// * card text layout *///
.menuCard--text {
  display: grid;
  grid-area: 1/2/-1/3;
  grid-template-rows: min-content 1fr min-content;
  margin-bottom: 0.5rem;
  @media (max-width: 500px) {
    grid-area: 2/1/3/2;
    grid-template-rows: repeat(3, min-content);
  }
}

///* Menu title *///
.menuCard--text-menu-title {
  font-family: "Kiwi Maru";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  // line-height: 2rem;
  color: #000000;
}

///* Menu description *///
.menuCard--text-menu-description {
  font-family: "Kiwi Maru";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #000000;
  margin-bottom: 1rem;
}

///* Menu text prices *///
.menuCard--text-menu-prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-family: "Kiwi Maru";
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
}

/// *** *** *** *** *** *** ///
///     Appetizer Variant
/// *** *** *** ***  ***  ///
#appetizers-wrapper {
  display: grid;
  @media (min-width: 690px) {
    grid-template-columns: auto auto;
  }
  @media (min-width: 1167px) {
    grid-template-columns: auto auto auto;
  }
}
.menuCard.appetizers {
  max-width: none;
  margin: 0;
  margin-inline: 2rem;
}
.menuCard--text.appetizers {
  width: fit-content;
  max-width: max-content;
  grid-template-areas:
    "title price"
    "description description";
}

.menuCard--text-menu-title.appetizers {
  grid-area: title;
  &.spicy::after {
    font-size: 0.75rem;
    font-style: italic;
    color: #444444;
    content: " 🌶️ " + "(spicy)";
  }
}

.menuCard--text-menu-prices.appetizers {
  grid-area: price;
  justify-self: end;
  display: block;
  margin: 0;
}
.menuCard--text-menu-prices.appetizers:before {
  color: rgb(59, 122, 26);
  content: "///";
}
.menuCard--text-menu-prices.appetizers:nth-child(2) {
  background-color: red;
}
.menuCard--text-menu-description.appetizers {
  grid-area: description;
}
